{% extends "base.html" %} {% block title %}Book App- Book details{% endblock %}
{% block body %}
<div class="container">
  <div class="book-details-wrapper">
    <div class="row">
      <div class="col-4">
        <img
          src="{{details_list.imageLinks.thumbnail}}"
          alt="Book cover"
          class="details-cover"
        />
      </div>
      <div class="col-8">
        <h2 class="book-title">{{ details_list.title }}</h2>
        {% if "subtitle" in details_list %}
        <h3>{{ details_list.subtitle }}</h3>
        {% endif %}

        <p class="book-authors">
          <strong>Authors:</strong> {{ details_list.authors|join(" ") }}
        </p>
        <p class="book-publisher">
          <strong>Publisher:</strong> {{ details_list.publisher }}
        </p>
        <p class="book-published-date">
          <strong>Publish date:</strong> {{ details_list.publishedDate }}
        </p>
        <p class="book-page-count">
          <strong>Page count:</strong> {{ details_list.pageCount }}
        </p>
        <p class="book-language">
          <strong>Language:</strong> {{ details_list.language }}
        </p>
        <p class="book-preview">
          <strong>Book description:</strong> {{ details_list.description|safe }}
        </p>
        {% if "averageRating" in details_list %}
        <p class="book-average-rating">
          <strong>Average rating:</strong> {{ details_list.averageRating }}
        </p>
        {% endif %} {% if "ratingsCount" in details_list %}
        <p class="book-rating-count">
          <strong>Rating count:</strong> {{ details_list.ratingsCount }}
        </p>
        {% endif %} {% if "categories" in details_list %}
        <p class="book-categories">
          <strong>Categories:</strong> {{ details_list.categories|join(" ") }}
        </p>
        {% endif %}
        <!-- <a class="btn btn-book-preview" href="{{ details_list.previewLink }}"
          >Preview link</a
        > -->
        <p class="book-seleability">{{ selling_info_list.saleability }}</p>
        {% if "listPrice" in selling_info_list %}
        <p class="book-price">
          <strong>Price listed:</strong>
          {{ selling_info_list.listPrice.amount }} {{
          selling_info_list.listPrice.currencyCode }}
        </p>
        {% endif %} {% if "buyLink" in selling_info_list %}
        <p class="book-buy-link">{{ selling_info_list.buyLink }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <form action="/add_to_bookshelf" method="POST" id="book_details_button">
      <input type="text" name="book_id_api" value="{{item_id}}" hidden />
      <input type="text" name="title" value="{{ details_list.title }}" hidden />

      {% if "subtitle" in details_list %}
      <input
        type="text"
        name="subtitle"
        value="{{ details_list.subtitle }}"
        hidden
      />
      {% endif %}

      <input
        type="text"
        name="authors"
        value="{{ details_list.authors }}"
        hidden
      />

      <input
        type="text"
        name="thumbnail"
        value="{{details_list.imageLinks.thumbnail}}"
        hidden
      />

      <input
        type="text"
        name="publisher"
        value="{{ details_list.publisher }}"
        hidden
      />

      <input
        type="text"
        name="published_date"
        value="{{ details_list.publishedDate }}"
        hidden
      />

      <input
        type="text"
        name="page_count"
        value="{{ details_list.pageCount }}"
        hidden
      />

      <input
        type="text"
        name="language"
        value="{{ details_list.language }}"
        hidden
      />

      {% if "averageRating" in details_list %}
      <input
        type="text"
        name="average_rating"
        value="{{ details_list.averageRating }}"
        hidden
      />
      {% endif %} {% if "ratingsCount" in details_list %}
      <input
        type="text"
        name="ratings_count"
        value="{{ details_list.ratingsCount }}"
        hidden
      />
      {% endif %} {% if "categories" in details_list %}
      <input
        type="text"
        name="categories"
        value="{{ details_list.categories}}"
        hidden
      />
      {% endif %}

      <button class="btn btn-bookshelf">Add to my bookshelf</button>
    </form>
  </div>
  <div class="row">
    <h4 class="reviews-title">COMMUNITY REVIEWS</h4>
  </div>
</div>

{% endblock %}
