{% extends "base.html" %} {% block title %}Bookshelf - BookVerse{% endblock %}
{% block body %}

<div class="container">
  <div class="bookshelf-wrapper">
    <h1 class="bookshelf-head">Books to read</h1>
    <div class="table-responsive-md">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="table-title">Title</th>
            <th scope="col" class="table-title">Finished?</th>
          </tr>
        </thead>
        <tbody>
          {% for book in bookshelf.books %}

          <tr id="book-{{ book.book_id }}">
            <th scope="row">
              <i
                class="fa-regular fa-bookmark bookshelf-icon"
                style="color: #438ded"
              ></i>
            </th>
            <td class="book-title-in-bookshelf">{{ book.title }}</td>
            <td>
              <form class="delete-book">
                <input
                  name="book-id"
                  type="text"
                  value="{{ book.book_id }}"
                  hidden
                />
                <button class="book-read" type="submit">Read</button>
              </form>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
