{% extends "base.html" %} {% block title %}Book App- Bookshelf{% endblock %} {%
block body %}

<div class="container">
  <div class="bookshelf">
    <h1>Hi,</h1>

    <br />
    <h3>Want to read:</h3>

    {% for book in bookshelf.books %}

    <ul>
      <p class="book-id" hidden>{{book.book_id}}</p>
      <div>{{book.title}} {{book.subtitle}}</div>
      <p id="deleting-status"></p>
      <div>
        <button id="delete-book" class="btn btn-primary mt-2">
          Delete book
        </button>
      </div>
    </ul>
    {% endfor %}
  </div>

  {% endblock %}
</div>
