{% extends "base.html" %} {% block title %}Book App Home{% endblock %} {% block
body %}

<div class="container">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Book app</span>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >About the app</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/templates/log_in.html">Log in</a>
        </li>
      </ul>
    </div>
  </nav>
  <br />
  <br />
  <br />
  <form class="search-form" class="mb-3" action="/results-search">
    <div class="row">
      <div class="col-9">
        <input
          type="search"
          placeholder="Enter a book title"
          autocomplete="on"
          class="form-control"
          id="search-book"
        />
      </div>
      <div class="col-3">
        <input type="submit" value="Search 🔍" class="btn btn-primary w-100" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
