{% extends "base.html" %} {% block title %}Book App- Log in{% endblock%} {%
block body %}

<div class="container">
  <div class="account">
    <div class="row">
      <div class="col-6">
        <h2>Create an Account</h2>
        <form action="/create" method="POST">
          <p>First name</p>
          <input type="text" name="first_name" />
          <p>Last name</p>
          <input type="text" name="last_name" />
          <p>Email</p>
          <input type="text" name="email" />
          <p>Password</p>
          <input type="password" name="password" />
          <br />
          <p>
            <input type="submit" />
          </p>
        </form>
      </div>
      <div class="col-6">
        <h2>Log In</h2>
        <form action="/login" method="POST">
          <p>Email</p>
          <input type="text" name="email" />

          <p>Password</p>
          <input type="password" name="password" />
          <br />
          <p>
            <input type="submit" />
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
