{% extends "base.html" %} {% block title %}Book App- Log in{% endblock%} {%
block body %}

<div class="container">
  <div class="login-wrapper">
    <h3>Already have an account?</h3>
    <p>Welcome back! Please sign in to your account.</p>
    <br />
    <form action="/login" method="POST" class="log-in">
      <p>
        <input type="text" placeholder="Username" name="username" required />
      </p>
      <p>
        <input
          type="password"
          placeholder="Password"
          name="password"
          required
        />
      </p>
      <p>
        <input
          type="submit"
          class="btn btn-outline-primary align-bottom"
          value="Log in"
          id="login-button"
        />
      </p>
    </form>
  </div>
</div>

{% endblock %}
